<?xml version="1" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1//EN" "http://www.apple.com/DTDs/PropertyList-1.dtd">
<plist version="1">
<dict>
	<key>entry</key>
	<dict>
		<key>bundle</key>
		<string>VePreferences</string>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>detail</key>
		<string>VERootListController</string>
		<key>icon</key>
		<string>icon.png</string>
		<key>isController</key>
		<true/>
		<key>label</key>
		<string>Vē</string>
	</dict>
</dict>
</plist>
